<div class="surface-card shadow-2 p-3 border-round">
  <a [routerLink]="['/mis-listas/listado', listTasks.id]" >
  <div class="flex flex-column mb-2">
      <span class="block text-500 font-medium mb-3">{{ listTasks.name }}</span>
      <span class="text-800 font-medium text-lg mb-3">{{ listTasks.description }}</span>

      <div>
        <span class="text-green-500 font-medium">{{ listTasks.tasks ? listTasks.tasks.length : 0 }} </span>
        <span class="text-500">tareas</span>
      </div>
  </div>
  </a>

  <div class="flex justify-content-end gap-3 md:gap-5">
    <div class="flex align-items-center justify-content-center border-round" style="width:2rem;height:2rem">
      <modal-edit-list></modal-edit-list>
    </div>
    <div class="flex align-items-center justify-content-center border-round" style="width:2rem;height:2rem">
      <modal-delete-list></modal-delete-list>
    </div>
  </div>
</div>
