.container_lists_tasks {
  min-height: 80dvh;
  display: grid;
  grid-template:
    "lists" 1fr
    "btnNewTask" auto / 1fr;
}

.container_tasks {
  grid-area: lists;
}

.container_btnAddList {
  padding: .6rem 0;

  && .icon {
    border-radius: 50%;
    padding: .2rem;
    border: .1rem solid #ccc;
    font-size: .5rem;
  }
}

.container_btnAddTask {
  grid-area: btnNewTask;
  width: 100%;
}
