<div class="grid grid-nogutter surface-section text-800 container">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Crea tus tareas</span>
      <div class="text-6xl text-primary font-bold mb-3">basadas en listas</div>
      <p class="mt-0 mb-4 text-700 line-height-4">Y ordena tu día a día sin ningún problema.
        <span class="text-primary font-bold">To-Do Tareas</span> es la aplicación que te ayuda a gestionar TO-DO lo que tienes que por hacer</p>

      <p-button
        pButton
        label="&nbsp; Crear mis tareas"
        type="button"
        class="mr-3 p-button-raised"
        icon="pi pi-check"
        [routerLink]="'/auth/login'"
      ></p-button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      ngSrc="./assets/images/hand-task.jpg"
      alt="woman-note"
      class="md:ml-auto block md:h-full sm:h-fit sm:w-fit object-cover"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
      height="853" width="1280">
  </div>
</div>
