<div [style]="{ 'border': '0', 'padding': '0', 'margin': '0'}">
    <p-toolbar [style]="{'padding': '1rem .5rem'}" class="m-0 p-0 border-0">
      <ng-template pTemplate="start">
        <a class="flex flex-wrap align-items-center gap-2" [routerLink]="'/'">
          <div class="h-1rem w-1rem md:h-3rem md:w-3rem">
            <img src="./assets/images/note-task-logo2.png" alt="logo" height="100%" width="100%">
          </div>
          <p class="md:font-bold">To-Do Tareas </p>
        </a>
      </ng-template>

      <ng-template pTemplate="center">
        <welcome-user></welcome-user>
      </ng-template>

      <ng-template pTemplate="end">
        <p-button
          icon="pi pi-sign-out"
          severity="secondary"
          (click)="logout()"
          [rounded]="true"
        ></p-button>
      </ng-template>
    </p-toolbar>
</div>
